.App {
  text-align: center;
}
.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.myDiv{
  align-items: center;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}